{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <h2 class="text-center">Home</h2>
    <div class="row">
        {% for project in all_projects %}
        <h4> {{project.title}} </h4>
        <img src=" {{project.image.url}} " alt="landing_page">
        <p> {{project.description}} </p>
        <a href=" {{project.link}} "> {{project.link}} </a>
    </div>
    {% empty %}
    <div class="row">
        <h2>No projects at the moment</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}